---
layout: default
title: OCTO Provence
---

<div class="row padded">
    <div class="col col--important">
        <div class="row row--vertical">
            <div class="col">
                <div class="box box--lined">
                    <div class="content">
                        <div>
                            <h3>Un monde plus complexe et plus digital</h3>
                            <p>Nous sommes face à un monde imprévisible, ambigu, volatile et incertain, où la hiérarchie
                                et l’organisation
                                vue comme une machine trouvent leurs limites.
                                Le digital s’est immiscé depuis 20ans au coeur des organisations, des process et des
                                projets, porteur à la
                                fois d’opportunités et de rigidités nouvelles</p>
                            <h3> Nous avons besoin de nouveaux réflexes</h3>
                            <p>
                                Plus que des bonnes pratiques, des modèles simplistes et rassurants ou des réponses
                                immédiates “sur
                                étagère”, vous avez besoin de faire évoluer votre culture, vos modes de fonctionnement
                                et comportements pour
                                développer vos capacités de collaboration, d'adaptation au changement et dépasser les
                                blocages que vous
                                rencontrez</p>
                            <h3>Bref, nous devons “changer d’OS”</h3>
                            <p>Des pratiques de développement dans les équipes IT aux pratiques RH, en passant par les
                                équipes produits, le
                                management visuel d’un service ou les communautés de pratiques inter-directions, il
                                n’est jamais trop tard
                                pour faire évoluer votre “stack” technique, humaine et managériale</p>
                            <h3>Nous vous aidons</h3>
                            <div>Nous vous accompagnons dans la transformation culturelle, méthodologique et
                                technologique de votre organisation :s
                                <ul>
                                    <li>Aligner vos équipes sur une même compréhension de votre réalité</li>
                                    <li>Créer un engagement et un sentiment d’appartenance sur un objectif commun</li>
                                    <li>Vous faire monter en puissance sur les nouvelles pratiques et technologies pour
                                        vous
                                        rendre autonome
                                        le plus rapidement possible
                                    </li>
                                </ul>
                            </div>
                            <h3>Des interventions “du sol au plafond”</h3>
                            <div>
                                Nous travaillons avec vous sur les interactions au sein de votre organisation pour :
                                <ul>
                                    <li>Mentorer vos équipes techniques sur du TDD et Craftsmanship ou ouvrir votre SI
                                        au
                                        moyen d’APIs pour
                                        faire évoluer le SI
                                    </li>
                                    <li>Animer des Hackatons ou Design Sprints pour identifier et explorer rapidement de
                                        nouvelles
                                        opportunités
                                    </li>
                                    <li>Mettre en place une dynamique d’amélioration continue transverse ou des
                                        communautés
                                        de pratiques
                                        pour apprendre et partager
                                    </li>
                                    <li>
                                        Accompagner des équipes produit en approche agile pour livrer rapidement et
                                        satisfaire les
                                        utilisateurs
                                    </li>
                                    <li>
                                        Accompagner une transformation culturelle pour expérimenter de nouvelles façons
                                        de faire
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box content">
                    <h3 class="title--section">Faisons connaissance !</h3>
                    <div class="content">
                        <h4 class="text-center">Vous êtes curieux, souhaitez explorer un sujet, être challengé sur une
                            pratique : <a
                                href="mailto:provence@octo.com"><br><br>Invitez-nous à déjeuner ! ;)</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box content">
                    <h3 class="title--section">Nos BBL.</h3>
                    {% for bbl in site.data.bbl %}
                    {% include bbl.html bbl=bbl %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row row--vertical">
            <div class="col">
                <h3 class="title--section join-us">OCTO recrute en Provence.</h3>
                <div>
                    <p>Plus qu'une <b class="emphase">Great Place To Work</b>, OCTO se vit en interne comme une
                        véritable <b class="emphase">Best Place To Grow</b>.</p>

                    <a href="join-us.html" class="btn">Rejoignez-nous !</a>
                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h3 class="title--section">Suivez-nous.</h3>
                    <div class="content">
                        <a class="twitter-timeline" data-height="600"
                           href="https://twitter.com/octoprovence?ref_src=twsrc%5Etfw">Tweets by octoprovence</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h3 class="title--section">Nous y serons.</h3>

                    <div class="content">
                        {% unless site.data.events %}
                        <small>Aucun évenement pour le moment.</small>
                        {% endunless %}

                        {% for event in site.data.events limit: 3 %}
                        {% include event.html event=event %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row--vertical">
        <div class="col">
            <div class="box content">
                <h3 class="title--section">L'équipe.</h3>
                <div class="row">
                        {% for member in site.data.people %}
                        {% include member.html member=member %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

