<script>
/**
* Fonction de suivi des clics sur des liens sortants dans Analytics.
* Cette fonction utilise une chaîne d'URL valide comme argument et se sert de cette chaîne d'URL
* comme libellé d'événement. Configurer la méthode de transport sur 'beacon' permet d'envoyer le clic
* au moyen de 'navigator.sendBeacon' dans les navigateurs compatibles.
*/
var trackOutboundLink = function(url) {
  gtag ('event', 'clic', {
    'event_category': 'sortant',
    'event_label': url,
    'transport_type': 'balise',
    'event_callback': function(){return true;}
  });
}
</script>
