<div class="col">
    <div class="flipcard">
        <div class="flipcard_front">
            <h4>{{member.firstname}}</h4>
            <img src="{{member.image_url}}"/>
        </div>
        <div class="flipcard_back">
            <div class="flipcard_description text-center">
                <a href="bios.html#{{member.name | slugify}}" target="_blank">
                    <h3>{{member.name}}</h3>
                    <p class="text-center">{{member.role}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
