<div class="col">
    <div class="flipcard">
        <div class="flipcard_front">
            <h4>{{member.poly}}</h4>
            <img src="{{member.image_url}}"/>
        </div>
        <div class="flipcard_back">
            <div class="flipcard_description">
                <h3>{{member.name}}</h3>
                <p>{{member.bio}}</p>
                <button title='Visit Website' onclick="window.open('https://jakehong0521.github.io')"><i
                    class="fa fa-external-link"></i>Bio</button>
                <button title="Github Page"
                        onclick="window.open('https://github.com/jakehong0521/jakehong0521.github.io')"><i
                    class="fa fa-github"></i></button>
            </div>
        </div>
    </div>
</div>
